<%- include("partials/header"); -%>

      <div class="content-wrapper">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="card" data-aos="fade-up">
                <div class="card-body">
                  <div class="aboutus-wrapper">
                    <h1 class="mt-5">
                      About Us
                    </h1>
                    <center>
                    <img
                    src="../assets/images/logo.png"
                    alt="banner"
                    width="200px"
                    height="200px"
                    class="img-fluid mb-5"
                  />
                </center>
                    <p class="font-weight-600 fs-15">
                      Welcome to Jhansi Post, your number one source for all creative content. We're dedicated to give you the very best information with a main focus on Exclusive things. Founded in year 2016, Jhansi Post has come a long way from its beginnings. When first started out, our passion for best quality content drove us to do tons of research. We now serve customers all over India, and are thrilled that we're able to turn our passion into our own website.
                    </p>
                    <p class="font-weight-600 fs-15 mb-4 mt-4">
                      Jhansi Post, started in 2016 as a digital content creator, and from then on has been steadily growing to the circulation in whole country and a readership of lakhs.
                    </p>

                    <p class="font-weight-600 fs-15 mb-5">
                      Jhansi Post's independent editorial stand and its reliable and balanced presentation of the news have over the years, won for it the serious attention and regard of the people who matter in India and abroad.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

<%- include("partials/footer"); -%>
