<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Jhansi Post</title>  
  <meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="-1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">  

</head>

<body style="  background-color: #f5f5f5;"> 

<h1 style="text-align: center; padding-top: 25px;" class="display-4" >Admin Dashboard</h1> 
<div style="position: absolute; right: 10px;">
  <a href="/logout" style="text-decoration: none; color: white;"><button class="btn btn-danger">Logout</button></a>
</div>

<br>
<br>
<br>

<center>
  <form action="/admin/addnews" method="POST" enctype="multipart/form-data"> 
    <div class="form-group" style="width: 70%;">
      <label for="exampleFormControlInput1">Title</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Any Title" name="title">
    </div>
    <div class="form-group" style="width: 70%;">
      <label for="exampleFormControlTextarea1">Content</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="12"  placeholder="Any Content" name="content"></textarea>
    </div>
    <label for="cars">Choose category:</label>
    <select id="cars" name="category" class="form-control" style="width: 70%;">
      <option value="Local">Local</option>
      <option value="National">National</option>
      <option value="Sports">Sports</option>
      <option value="Business">Business</option>
      <option value="Politics">Politics</option>
      <option value="Healthcare">Health Care</option>
    </select>
      <br>
      <input type="file" name="photo" id="file" single>
      <br>
      <br>
      <button type="submit" value="Submit" class="btn btn-primary mb-4">Submit</button>
  </form> 
  </center>

  <script>
    window.addEventListener( "pageshow", function ( event ) {
   var historyTraversal = event.persisted || 
                          ( typeof window.performance != "undefined" && 
                               window.performance.navigation.type === 2 );
   if ( historyTraversal ) {
     window.location.reload();
   }
 });
   </script>
</body>

</html>