<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jhasi Post</title>
    <link rel="stylesheet" href="/css/styles1.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap" rel="stylesheet">

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
  </head>
  <body style="background-color: #dbdbdb;">
    <nav class="navbar navbar-expand-lg topbar ">
      <h1 class="toptext nav-brand" >Jhansi Post</h1>
      <div class="collapse navbar-collapse justify-content-center">
          <ul class="navbar-nav">
              <li class="nav-item">
                  <a class="nav-link mx-4" style="color: white;font-size: 20px;" href="/">
                      Home
                  </a>
              </li>
              <li class="nav-item">
                <a class="nav-link mx-4" style="color: white;font-size: 20px;" href="/sports">
                    Sports
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link mx-4" style="color: white;font-size: 20px;" href="/local">
                    Local
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link mx-4" style="color: white;font-size: 20px;" href="/national">
                    National
                </a>
            </li>
          </ul>
      </div>
    </nav>