<%- include('headers'); -%>
    <div class="row my-3 content" >
        <div class="col-lg-2 offset-lg-2 rounded cate p-3">
            <h3>Category</h3>
              <div class="nav flex-column" aria-orientation="vertical">
                  <a class="nav-link" style="color: black;" href="/sports">Sports</a>
                  <a class="nav-link" style="color: black;" href="/local">Local</a>
                  <a class="nav-link" style="color: black;" href="/national">National</a>
                  
              </div>
        </div>
        <div class="col-lg-6 rounded news mx-lg-4">
            <div class="row p-4">
                <div class="col-lg-4">
                    <img class="imgs rounded" src="https://i.pinimg.com/originals/ca/76/0b/ca760b70976b52578da88e06973af542.jpg"/>
                </div>
                <div class="col-lg-8">
                    <h3>This is the title and under thiss is content</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim </p>
                </div>
            </div>
            <div class="row p-4">
                <div class="col-lg-4">
                    <img class="imgs rounded" src="https://i.pinimg.com/originals/ca/76/0b/ca760b70976b52578da88e06973af542.jpg"/>
                </div>
                <div class="col-lg-8">
                    <h3>This is the title and under thiss is content</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim </p>
                </div>
            </div>
            <div class="row p-4">
                <div class="col-lg-4">
                    <img class="imgs rounded" src="https://i.pinimg.com/originals/ca/76/0b/ca760b70976b52578da88e06973af542.jpg"/>
                </div>
                <div class="col-lg-8">
                    <h3>This is the title and under thiss is content</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim </p>
                </div>
            </div>
            <div class="row p-4">
                <div class="col-lg-4">
                    <img class="imgs rounded" src="https://i.pinimg.com/originals/ca/76/0b/ca760b70976b52578da88e06973af542.jpg"/>
                </div>
                <div class="col-lg-8">
                    <h3>This is the title and under thiss is content</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim </p>
                </div>
            </div>
            <div class="row p-4">
                <div class="col-lg-4">
                    <img class="imgs rounded" src="https://i.pinimg.com/originals/ca/76/0b/ca760b70976b52578da88e06973af542.jpg"/>
                </div>
                <div class="col-lg-8">
                    <h3>This is the title and under thiss is content</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim </p>
                </div>
            </div>
        </div>
    </div>
    <%- include('footer'); -%>
  </body>
</html>
